.meditationCard {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  margin: 16px auto;
  color:white;
  border-radius: 3rem;
  box-shadow: 0px 0px 5px rgb(255, 255, 255);
  box-sizing: border-box;
  overflow: hidden;
}

.meditationCard:hover {
  transform: scale(1.02);
  box-shadow: 0px 0px 20px rgb(255, 255, 255);
  background-color: rgba(137, 119, 215, 0.708);
}

.meditationCard img {
  width:7rem;
  height: auto;
  flex-shrink: 0;
  object-fit: contain;
}