.monk-image {
    display: flex;
    align-items: center;
    margin: 0px auto;
    margin-top: 3rem;
    justify-content: center;
    background-image: linear-gradient(to right, rgb(255, 89, 0), rgb(255, 166, 0));
    border-radius: 30rem;
    width: 25rem;
}

.monk-image img {
  width:25rem;
  height: auto;
  flex-shrink: 0;
  object-fit: contain;
}

.large-ghost{
  appearance: none;
  width: 15rem;
  height: 3rem;
  font-size: larger;
  border: 1px solid rgba(0,0,0,0.06);
  background: rgb(255, 149, 0);
  padding: .45rem .75rem;
  border-radius: 10px;
  font-weight: 600;
  cursor: pointer;
  color: rgb(255, 255, 255);
  margin-top: 2rem;
}

.large-ghost:hover {
  background: rgb(255, 185, 88);
}
