
.brand {
  display: flex;
  align-items: center;
  gap: .6rem;
}

.brand_logo {
  font-size: 1.35rem;
  line-height: 1;
}

.card-button {
  all: unset;
}

/*#fff5e1*/

.list-container {
  max-width: 40rem;
  margin: 0 auto;
  width: 100%;
  padding: 16px;
  box-sizing: border-box;
}

