#root {
    --accent: #ff9900;
    --accent2: #e95338;
    --border: rgba(255, 255, 255, 0.393);
}

.session-page {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: radial-gradient(ellipse at bottom  left, #ffe790, #ff9d73);
}

.orb-ui-container {
    max-width: 420px;
  width: 100%;
  margin: 0 auto;
  padding: 3rem 2.25rem 2.25rem;
  border-radius: 32px;
  background: rgba(255, 255, 255, 0.146); /* slightly lighter than bg */
  box-shadow: 0 22px 50px rgba(0, 0, 0, 0.18);
  backdrop-filter: blur(10px);
}

.orb-wrapper {
    position: relative;
    display: inline-block;
}

.orb {
    width:300px;
    height:300px;
    background: radial-gradient(circle at 30% 30%, var(--accent), var(--accent2));
    border-radius: 999px;
    animation: breathe var(--cycle-duration) ease-in-out infinite;
    transform-origin: center center;
    margin: 3rem auto;
    box-shadow: 0px 0px 80px rgb(255, 255, 255);
}

@keyframes breathe {
    0% { transform: scale(0.7); }
    50% { transform: scale(1); }
    100% { transform: scale(0.7); }
}

.breath-cue {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 1.8rem;
    font-weight: 600;
    text-shadow: 0 2px 6px rgba(0, 0, 0, 0.25);
    transition: opacity 1s ease, transform 5s ease;
}
.breath-Inhale { transform: translate(-50%, -50%) scale(1.30); opacity: 1;}
.breath-Hold   { transform: translate(-50%, -50%) scale(1.30); opacity: 0.8;}
.breath-Exhale { transform: translate(-50%, -50%) scale(0.90); opacity: 1;}



.timer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0rem;
    font-size:1.6rem;
    font-weight:600;
    color: rgb(169, 110, 43);
}

.session-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0rem;
    padding: 1rem;
}

.session-complete-text {
    color: rgb(169, 110, 43);
    font-size: 1rem;
    font-weight: 500;
    margin-top: 1.5rem;
    text-align: center;
}
