.session-page {
    display: flex;
    align-items: center;
    justify-content: center;
}

.orb-wrapper {
    position: relative;
    display: inline-block;
}

.orb {
    width:300px;
    height:300px;
    border-radius: 999px;
    animation: breathe var(--cycle-duration) ease-in-out infinite;
    transform-origin: center center;
    margin: 8px auto;
    box-shadow: 0px 0px 12px rgb(255, 255, 255);
}

@keyframes breathe {
    0% { 
        transform: scale(0.7);
        opacity: 0.2; 
    }
    50% { 
        transform: scale(1); 
        opacity: 1;
    }
    100% { 
        transform: scale(0.7); 
        opacity: 0.2;
    }
}

.breath-cue {
    color: rgb(134, 108, 139);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 1.8rem;
    font-weight: 600;
    transition: opacity 1s ease, transform 5s ease;
}
.breath-Inhale { transform: translate(-50%, -50%) scale(1.30); opacity: 1;}
.breath-Hold   { transform: translate(-50%, -50%) scale(1.30); opacity: 0.8;}
.breath-Exhale { transform: translate(-50%, -50%) scale(0.90); opacity: 1;}



.timer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
    margin-bottom: 12px;
    font-size:1.6rem;
    font-weight:600;
    color: rgb(255, 255, 255);
}

.session-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0rem;
    padding: 4px;
}