#root {
    --accent: #ff9900;
    --accent2: #e95338;
}

.session-page {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: radial-gradient(ellipse at bottom  left, #feeddd, #f7cea0);
}


.orb {
    width:300px;
    height:300px;
    background: radial-gradient(circle at 30% 30%, var(--accent), var(--accent2));
    border-radius: 999px;
    animation: breathe var(--cycle-duration) ease-in-out infinite;
    transform-origin: center center;
    margin: 3rem auto;
    box-shadow: 0px 0px 80px rgb(255, 255, 255);
}

@keyframes breathe {
  0% { transform: scale(0.7); }
  50% { transform: scale(1); }
  100% { transform: scale(0.7); }
}

.timer {
    font-size:1.6rem;
    font-weight:600;
    color: rgb(169, 110, 43)
}