.dashboard-card {
    width: 90%;
    max-width: 900px;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
}

.stats-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
  gap: 16px;
  margin-bottom: 20px;
}

.db-stat {
  padding: 12px 10px;
  border-radius: 12px;
  margin: 0px 10px 0px 10px;
}

.stat-value {
  font-size: 1.4rem;
  font-weight: 600;
  color: var(--main-shadow);
}

.stat-label {
  font-size: 1rem;
  font-weight: 400;
  color: var(--main-shadow);
  margin-top: 2px;
}

.stat-subtext {
  font-size: 0.8rem;
  color: #5e708f;
  margin-top: 4px;
}

h2 {
    color: var(--main-shadow);
    font-weight: 400;
}

/* Sections */

.stats-section {
  margin-top: 20px;
}

/* Recent sessions */
.stats-subtitle {
margin: 10px 0 8px;
font-size: 1rem;
font-weight: 600;
color: rgb(255, 248, 249);
}

.recent-sessions {
  list-style: none;
  padding: 0;
  margin: 10px;
  color:rgba(255, 255, 255, 0.737);
}

.recent-session-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  padding: 8px 0;
  font-size: 0.9rem;
  max-width: 500px;
}

.recent-session-item + .recent-session-item {
  border-top: 4px solid #abb5ce29;
  margin-left: auto;
  margin-right: auto;
}

.recent-session-duration {
  font-weight: 500;
}

.recent-session-date {
  color: #848c9b;
}

/* Chart */
.chart {
  display: flex;
  width: 92%;
  justify-self: center;
  align-items: center;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 14px;
}